<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../public/js/index.js"></script>
    <link rel="stylesheet" href="../public/css/style.css">
    <title>Document</title>
</head>
<body>
    <a href="/secure/logout">Logout</a>
    <script type="text/javascript">
        var rows =<%-JSON.stringify(result)%>
        GojsatableOfJson(rows)
        console.log(rows)
    </script>
 <div class="G_addDiv">
     <form action="/secure/addLeng" method="post">
         
         <label for="">Word</label>
         <input type="text" name="word">
         <label for="">Language</label>
         <input type="text" name="language">
         <button>Add</button>
        
     </form>
 </div>
</body>
</html>