<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css">
    <title>Document</title>
</head>
<body>
    <div class="G_addDiv">
        <h2>Login</h2>
        <form action="/secure/login" method="post">
            <label for="">Username</label>
        <input id="G_inputWord" type="text" name="username">
            <label for="">Password</label>
        <input id="G_inputL" type="password" name ="password">
        <button id="G_addButton">Login</button>
    </form>
    <span>
        <%= message %>
    </span>
    </div>
 <script src="../public/js/validation.js"></script>

</body>
</html>